/* HeroesComponent's private CSS styles */

.heroes {
    margin: 0 0 20px 0;
    list-style-type: none;
    padding: 5% 0%;
    width: 200px;
}

.heroes li {
    cursor: pointer;
    position: relative;
    left: 0px;
    background-color: #EEE;
    margin: 5% 2%;
    padding: 5% 0px;
    border-radius: 4px;
    font-size: 12pt;
}

.heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: 5px;
}

.heroes a {
    color: #888;
    text-decoration: none;
    position: relative;
    display: block;
    width: 250px;
}

.heroes a:hover {
    color:#607D8B;
}

.heroes .badge {
    font-size: 12pt;
    color: white;
    padding: 10px 10px;
    background-color: #607D8B;
    height: 200%;
    border-radius: 4px 0 0 4px;
}

/* HeroesComponent's private CSS styles

.selected {
    background-color: #CFD8DC !important;
    color: white;
}

.heroes {
    margin: 0 0 20px 0;
    list-style-type: none;
    padding: 5% 0%;
    width: 200px;
}

.heroes li {
    cursor: pointer;
    position: relative;
    left: 0px;
    background-color: #EEE;
    margin: 2%;
    padding: 5% 0px;
    border-radius: 4px;
    font-size: 12pt;
}

/* 
.heroes li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
} */

/* .heroes li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: 5px;
}

.heroes .badge {
    font-size: 12pt;
    color: white;
    padding: 10px 10px;
    background-color: #607D8B;
    height: 200%;
    border-radius: 4px 0 0 4px;
}  */